<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.nomelin.iot.dao.DeviceMapper">

    <resultMap id="deviceResultMap" type="top.nomelin.iot.model.Device">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="template_id" property="templateId"/>
        <result column="tags" property="tags" typeHandler="top.nomelin.iot.common.handler.ListStringTypeHandler"/>
        <result column="config" property="config" typeHandler="top.nomelin.iot.common.handler.ConfigTypeHandler"/>
        <!-- 关联查询，获取设备所属的 groupIds -->
        <collection property="groupIds" ofType="java.lang.Integer">
            <result column="group_id"/>
        </collection>
    </resultMap>

    <!-- 插入设备 -->
    <insert id="insert" parameterType="top.nomelin.iot.model.Device"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO device (name, user_id, template_id, tags, config)
        VALUES (#{name}, #{userId}, #{templateId},
                #{tags, typeHandler=top.nomelin.iot.common.handler.ListStringTypeHandler},
                #{config, typeHandler=top.nomelin.iot.common.handler.ConfigTypeHandler})
    </insert>

    <!-- 更新设备 -->
    <update id="update" parameterType="top.nomelin.iot.model.Device">
        UPDATE device
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="tags != null">tags = #{tags, typeHandler=top.nomelin.iot.common.handler.ListStringTypeHandler},
            </if>
            <if test="config != null">config =
                #{config, typeHandler=top.nomelin.iot.common.handler.ConfigTypeHandler},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除设备 -->
    <delete id="delete" parameterType="int">
        DELETE
        FROM device
        WHERE id = #{id}
    </delete>


    <!-- 根据 ID 查询设备，包括所属组 -->
    <select id="selectById" parameterType="int" resultMap="deviceResultMap">
        SELECT d.id, d.name, d.user_id, d.template_id, d.tags, d.config, gd.group_id
        FROM device d
                 LEFT JOIN group_device gd ON d.id = gd.device_id
        WHERE d.id = #{id}
    </select>

    <!-- 条件查询设备 -->
    <select id="selectAll" parameterType="top.nomelin.iot.model.Device" resultMap="deviceResultMap">
        SELECT d.id, d.name, d.user_id, d.template_id, d.tags, d.config, gd.group_id
        FROM device d
        LEFT JOIN group_device gd ON d.id = gd.device_id
        <where>
            <if test="id != null">AND d.id = #{id}</if>
            <if test="name != null">AND d.name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="userId != null">AND d.user_id = #{userId}</if>
            <if test="templateId != null">AND d.template_id = #{templateId}</if>
        </where>
    </select>

    <!-- 根据用户 ID 查询设备 -->
    <select id="selectByUserId" parameterType="int" resultMap="deviceResultMap">
        SELECT d.id, d.name, d.user_id, d.template_id, d.tags, d.config, gd.group_id
        FROM device d
                 LEFT JOIN group_device gd ON d.id = gd.device_id
        WHERE d.user_id = #{userId}
    </select>

    <!-- 根据模板 ID 查询设备 -->
    <select id="selectByTemplateId" parameterType="int" resultMap="deviceResultMap">
        SELECT d.id, d.name, d.user_id, d.template_id, d.tags, d.config, gd.group_id
        FROM device d
                 LEFT JOIN group_device gd ON d.id = gd.device_id
        WHERE d.template_id = #{templateId}
    </select>


</mapper>
