<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.nomelin.iot.dao.MessageMapper">

    <resultMap id="messageResultMap" type="top.nomelin.iot.model.Message">
        <id column="id" property="id"/>
        <result column="send_id" property="sendId"/>
        <result column="receive_id" property="receiveId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="top.nomelin.iot.model.enums.MessageType"/>
        <result column="status" property="status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="top.nomelin.iot.model.enums.MessageStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="read_time" property="readTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <insert id="insert" parameterType="top.nomelin.iot.model.Message"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO message (send_id, receive_id, title, content, type, status, create_time, read_time, delete_time)
        VALUES (#{sendId}, #{receiveId}, #{title}, #{content},
                #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{createTime}, #{readTime}, #{deleteTime})
    </insert>

    <update id="updateById" parameterType="top.nomelin.iot.model.Message">
        UPDATE message
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler},</if>
            <if test="status != null">status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            </if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM message
        WHERE id = #{id}
    </delete>

    <select id="selectById" resultMap="messageResultMap">
        SELECT *
        FROM message
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="messageResultMap">
        SELECT * FROM message
        <where>
            <if test="id != null">
                WHERE id = #{id}
            </if>
            <if test="sendId != null">
                AND send_id = #{sendId}
            </if>
            <if test="receiveId != null">
                AND receive_id = #{receiveId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="type != null">
                AND type = #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>
            <if test="status != null">
                AND status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="readTime != null">
                AND read_time = #{readTime}
            </if>
            <if test="deleteTime != null">
                AND delete_time = #{deleteTime}
            </if>
        </where>

    </select>

    <select id="selectSimpleAll" resultType="top.nomelin.iot.model.Message">
        SELECT id,
        send_id,
        receive_id,
        title,
        type,
        status,
        create_time,
        read_time,
        delete_time
        FROM message
        <where>
            <if test="id != null">
                WHERE id = #{id}
            </if>
            <if test="sendId != null">
                AND send_id = #{sendId}
            </if>
            <if test="receiveId != null">
                AND receive_id = #{receiveId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            #虽然是查询缩略信息，但也可以用内容模糊查询
            <if test="content != null">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="type != null">
                AND type = #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>
            <if test="status != null">
                AND status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="readTime != null">
                AND read_time = #{readTime}
            </if>
            <if test="deleteTime != null">
                AND delete_time = #{deleteTime}
            </if>
            AND status != 'DELETED' #不查询已删除的消息
        </where>
    </select>

    <select id="countByReceiveId" resultType="int">
        SELECT COUNT(*) FROM message
        WHERE receive_id = #{receiveId}
        <if test="type != null">
            AND type = #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        </if>
        <if test="status != null">
            AND status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        </if>
    </select>


</mapper>